@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;500&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  background-color: linear-gradient(rgba(250, 249, 249, 0.415), rgba(232, 232, 242, 0.472));
}

body {
  /* pagina toda!!! */
  background-color: linear-gradient(rgba(250, 249, 249, 0.415), rgba(232, 232, 242, 0.472));
  width: 100vw;
  height: 100vh;
}

.conteiner {
  /* esse é a barra de navegação */
  width: 100vw;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  /* tag nav do html */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1vh;
}

.my-image-logo-bombeiro {
  /* imagem polo na barra de navegação */
  position: static;
  height: 10vh;
  margin: 1vh;
  cursor: pointer;
}

.caixa-ul-nav {
  /* caixa por fora dos links */
  display: flex;
  justify-content: center;
  align-items: center;
}

.caixa-link-li-nomes {
  /* div dentro da caixa  ul 'links' */
  display: flex;
  align-items: center;
  gap: 8vh;
  margin-right: 5vh;
  list-style-type: none;

  color: #d10b0b;
  font-weight: bold;
  font-size: 3vh;
}

nav ul li a {
  /* links 'nomes'' */
  text-decoration: none;
  text-transform: uppercase;
  color: #d10b0b;
}

nav ul li a:hover {
  /* hover dos links navegação */
  color: black;
  transition: 0.5s;
}

nav ul li a:active {
  /* active dos links navegação */
  opacity: .5;
  color: red;
}

.tag-button-nav {
  /* butão no menu navegação */
  border: none;
  background: linear-gradient(rgb(196, 11, 5), rgb(207, 123, 33));
  color: white;
  cursor: pointer;
  font-size: 2.6vh;
  width: 19vw;
  height: 10vh;
  border-radius: 40px;
  font-weight: 800;
  margin-right: 3vw;
}

.tag-button-nav:hover {
  /* hover do butão navegação */
  background: linear-gradient(rgb(11, 10, 10), rgb(11, 10, 10));
  transition: 1s;
}

.tag-button-nav:active {
  /* active do butão navegação */
  opacity: .8;
}

.image-icon-traco {
  /*  imagem de traço utilizado na responsividade */
  display: none;
}

hr {
  /* traço para dividir o menu navegação e a pagina main */
  border: 0.1 solid;
  margin-top: 1em;
  box-shadow: 5px 0px 5px;
}

main {
  width: 100vw;
  height: 106vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background-color: #242121ee;
  margin-top: -0.2vh;
  padding-bottom: 10vh;
}

.div-projeto-todo {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7vh;
  padding-bottom: 25vh;
  background-color: #242121ee;
}

header {
  color: #fff;
  margin-bottom: 5vh;
}

h1 {
  font-size: 6vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 10px;
}

article {
  transition: none;
}

.div-buttons {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

button {
  background-color: #79cb15;
  border: none;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  font-size: 2.5vh;
  width: 22vh;
  height: 10vh;
  margin-right: 5vh;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.5;
}

.div-cardapio-complet {
  display: grid;
  grid-template-columns: 20vh 20vh 20vh 20vh;
  gap: 5vh;
}

.cardapio-individual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffff;
  padding: 25px 90px;
  border-radius: 12px;
  margin-top: 3vh;
}

img {
  width: 700%;
  height: 100%;
}

.my-image-logo-bombeiro {
  width: 17vh;
  height: 15vh;
  margin-left: 1vh;
  cursor: pointer;
}

p {
  color: #fff;
  font-size: 3vh;
}

.buttonComprarLanche {
  padding: 10px 30px;
  background-color: aqua;
  border-radius: 10px;
  color: #000000;
  cursor: pointer;
  font-size: 2vh;
}

.buttonComprarLanche:hover {
  opacity: .8;
}

.buttonComprarLanche:active {
  opacity: .5;
}


@media screen and (max-width:892px) {

  nav {
    /* tag nav do html */
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0vh;
    padding: 0;
  }

  .my-image-logo-bombeiro {
    /* imagem polo na barra de navegação */
    position: static;
    width: 55%;
    height: 1%;
    cursor: pointer;
  }

  .caixa-ul-nav {
    /* caixa por fora dos links */
    width: 100%;
    height: 100%;
  }

  .caixa-link-li-nomes {
    /* div dentro da caixa  ul 'links' */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
    gap: 13%;
  }

  nav ul li a {
    /* links 'nomes'' */
    font-size: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: #d10b0b;
    align-content: flex-end;
    font-size: 90%;
  }

  nav ul li a:hover {
    /* hover dos links navegação */
    color: black;
    transition: 0.8s;
    font-size: 108%;

    font-style: bold;
  }

  nav ul li a:active {
    /* active dos links navegação */
    opacity: .5;
    color: red;
  }

  .tag-button-nav {
    /* butão no menu navegação */
    border: none;
    background: linear-gradient(rgb(196, 11, 5), rgb(207, 123, 33));
    color: white;
    cursor: pointer;
    font-size: 2.6vh;
    width: 19vw;
    height: 10vh;
    border-radius: 40px;
    font-weight: 800;
    margin-right: 3vw;
    display: none;
  }

  .tag-button-nav:hover {
    /* hover do butão navegação */
    background: linear-gradient(rgb(11, 10, 10), rgb(11, 10, 10));
    transition: 1s;
  }

  .tag-button-nav:active {
    /* active do butão navegação */
    opacity: .8;
  }

  .image-icon-traco {
    /*  imagem de traço utilizado na responsividade */
    display: none;
  }

  /* parte black */

 
main {
  width: 100vw;
  height: 106vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background-color: #242121ee;
  margin-top: -0.2vh;
  padding-bottom: 10vh;
}

.div-projeto-todo {
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7vh;
  padding-bottom: 130vh;
  background-color: #242121ee;

}

header {
  color: #fff;
  margin-bottom: 5vh;
}

h1 {
  text-align: center;
  font-size: 240%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 10px;
}

article {
  transition: none;
}

.div-buttons {
  width: 100%;
  justify-content: space-around;
  margin: 0;
}

button {
  /* display: flex;
  justify-content: center;
  align-items: center; */

  background-color: #79cb15;
  border: none;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  font-size: 2.5vh;
  width: 20%;
  height: 13vh;
  padding: 0;
  margin: 0;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.5;
}

.div-cardapio-complet {
  display: grid;
  grid-template-columns: 20vh 20vh;
  gap: 5vh;
}

.cardapio-individual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffff;
  padding: 5% 10%;
  border-radius: 12px;
  margin-top: 3vh;
}

img {
  width: 100%;
  height: 50%;
}

p {
  color: #fff;
  font-size: 3vh;
  font-weight: 700;
}

.buttonComprarLanche {
  padding: 10px 30px;
  background-color: aqua;
  border-radius: 10px;
  color: #000000;
  cursor: pointer;
  font-size: 2vh;
}

.buttonComprarLanche:hover {
  opacity: .8;
}

.buttonComprarLanche:active {
  opacity: .5;
}
}