@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;500&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  background-color: linear-gradient(rgba(250, 249, 249, 0.415), rgba(232, 232, 242, 0.472));
}

body {
  background-color: linear-gradient(rgba(250, 249, 249, 0.415), rgba(232, 232, 242, 0.472));
}

.conteiner {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 1vh;
}

.my-image-logo-bombeiro {
  position: static;
  height: 10vh;
  margin-left: 1vh;
  cursor: pointer;
}

.caixa-ul-nav {
  display: flex;
}

.caixa-link-li-nomes {
  display: flex;
  align-items: center;
  gap: 5vh;
  margin-right: 5vh;
  list-style-type: none;
  
  color: #d10b0b;
  font-weight: bold;
  font-size: 2.8vh;

}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #d10b0b;
}

nav ul li a:hover {
  color: black;
  transition: 0.5s;
}

nav ul li a:active {
  opacity: .5;
  color: red;
}

.tag-button-nav {
  border: none;
  background: linear-gradient(rgb(196, 11, 5), rgb(207, 123, 33));
  color: white;
  cursor: pointer;
  font-size: 2.5vh;
  width: 19vw;
  height: 10vh;
  border-radius: 40px;
  font-weight: 800;
  margin-right: 3vw;
}

.tag-button-nav:hover {
  background: linear-gradient(rgb(11, 10, 10), rgb(11, 10, 10));
  transition: 1s;
}

.tag-button-nav:active {
  opacity: .8;
}

.image-icon-traco {
  display: none;
}

hr {
  border: 0.1 solid;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 5px 0px 5px;
}

main {
  display: flex;
  margin-top: 3vh;
}

.text-bpc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0.2vw;
  gap: 2vh;
}

.text-h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 6vh;
  font-weight: bold;
}

.text-bpc-red {
  color: #ed0909;
  font-weight: bold;
}

.text-h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 300;
  font-size: 2.8vh;
  margin: 20px 0;
  letter-spacing: 1px;
}

.text-h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 3vh;
}

.paragrafy-main {
  width: 50vw;
  display: flex;
  text-align: center;
  font-size: 2.5vh;
  font-weight: 300;
  padding: 0vh 2vh;
}

.div-btn-matricula {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-main {
  width: 30vw;
  height: 8vh;
  margin: 20px auto;
  font-size: 3vh;
  font-weight: 700;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5vh;
  letter-spacing: .3px;
  cursor: pointer;
}

.btn-main:hover {
  background-color: rgba(0, 0, 0, 0.631);
  transition: 0.5s;
}

.btn-main:active {
  opacity: 0.5;
}

.div-medias-sociais {
  display: flex;
  flex-direction: row;
  gap: 10vh;
  margin-top: 3vh;
}

.logo-rede-sociais {
  height: 6vh;
}

#id-logo-whatssap {
  height: 10vh;
  margin-top: -2vh;
}

#id-logo-face {
  height: 8.3vh;
  margin-top: -1.3vh;
}

/*
aqui config que so 
aparece a imagem do tamanho 
colocado
*/
.slider {
  margin: 30px auto;
  width: 900px;
  height: 650px;
  overflow: hidden;
}


.div-img-bpc-fogo {
  /*slides*/
  width: 400%;
  height: 400px;
  display: flex;
}

.div-img-bpc-fogo input {
  /*slides com input*/
  display: none;
}

.slide {
  width: 25%;
  position: relative;
}

/* aqui dei um nome para img, mas nao precisava
era somente dar um espaço utilizar a classe da div
e coloca a tag img -> slide img{} */
.slide img {
  width: 45vw;
  height: 55vh;
  border-radius: 30px;
  margin-left: 50px;
}

#id-img-2-slide {
  width: 38vw;
  height: 61vh;
  margin-left: 90px;
}

#id-img-3-slide {
  width: 35vw;
  height: 65vh;
  margin-left: 15vh;
}

#id-img-4-slide {
  width: 35vw;
  height: 64vh;
  margin-left: 15vh;
}

/* aqui config botao*/
.manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -37px;
  margin-left: 5vh;
  display: flex;
  justify-content: center;
  gap: 2vh;
}

.manual-btn {
  border: 2px solid #0b0b0b;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  background-color: rgb(248, 241, 241);
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: rgb(255, 0, 0);
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -25%;
}

#radio3:checked~.first {
  margin-left: -50%;
}

#radio4:checked~.first {
  margin-left: -75%;
}



.local-curso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 1vh;
  width: 100vw;
  height: 100vh;
}

.paragrafo-informacao-localizacao {
  font-size: 4vh;
  font-weight: 800;
}

.div-img-mapas {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

#localizacao-curicica,
#localizacao-bangu {
  font-size: 3vh;
  font-weight: 300;
  margin-top: 2vh;
}

.class-iframe-mapa {
  width: 30vw;
  height: 30vh;
}

.mapa-curicica {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.mapa-bangu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-left: 1em;
}

.paragraph-contato-curicica,
.paragraph-contato-bangu {
  font-size: 3vh;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
  font-size: 2.5vh;
  font-weight: 200;
  margin-top: 5%;
  padding-bottom: 4vh;
  text-align: center;
}

.img-logo-bpc-footer {
  height: 20vh;
  margin-top: 10vh;
}

@media screen and (max-width:1080px) {
  .conteiner {
    width: 100vw;
    height: auto;
  }

  nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  /*
aqui config que so 
aparece a imagem do tamanho 
colocado @MEDIA SCREEN
*/
  .slider {
    margin: 30px auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
  }



  .div-img-bpc-fogo input {
    /*slides com input*/
    display: none;
  }

  .slide {
    width: 25%;
    position: relative;
  }

  /* aqui dei um nome para img, mas nao precisava
era somente dar um espaço utilizar a classe da div
e coloca a tag img -> slide img{} */
  .slide img {
    width: 90vw;
    height: 44vh;
    border-radius: 14px;
    margin-top: 1vh;
    margin-left: 3vh;

  }

  #id-img-2-slide {
    width: 93vw;
    height: 55vh;
    margin-left: 2vh;

  }

  #id-img-3-slide {
    width: 86vw;
    height: 53vh;
    margin-left: 5vh;
  }

  #id-img-4-slide {
    width: 86vw;
    height: 53vh;
    margin-left: 5vh;
  }

  /* aqui config botao*/
  .manual-navigation {
    display: flex;
    position: absolute;
    width: 100vw;
    margin-top: -37px;
    margin-left: 0;
    gap: 2vh;
  }

  .manual-btn {
    border: 2px solid #0b0b0b;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    background-color: rgb(248, 241, 241);
  }

  .manual-btn:not(:last-child) {
    margin-right: 40px;
  }

  .manual-btn:hover {
    background-color: rgb(255, 0, 0);
  }

  #radio1:checked~.first {
    margin-left: 0;
  }

  #radio2:checked~.first {
    margin-left: -25%;
  }

  #radio3:checked~.first {
    margin-left: -50%;
  }

  #radio4:checked~.first {
    margin-left: -75%;
  }

  .caixa-ul-nav {
    display: none;
  }

  .tag-button-nav {
    display: none;
  }

  .image-icon-traco {
    display: flex;
    width: 6vh;
    cursor: pointer;
  }

  hr {
    display: none;
  }

  main {
    flex-direction: column-reverse;
  }

  .text-bpc {
    width: 100vw;
  }

  .text-h1 {
    font-size: 4vh;
  }

  .text-h2 {
    font-size: 2vh;
  }

  .text-h3 {
    font-size: 2vh;
  }

  .paragrafy-main {
    width: 80vw;
    font-size: 2vh;
    margin-top: 1vh;
    padding: 0px
  }

  .div-btn-matricula {
    margin: 2vh 5vh 0vh 0vh;
  }

  .btn-main {
    width: 60vw;
    height: 8vh;
    font-size: 2.5vh;
    font-weight: 700;
    border: none;
    background: linear-gradient(rgb(196, 11, 5), rgb(207, 123, 33));
    color: white;
    border-radius: 5vh;
    letter-spacing: .3px;
    cursor: pointer;
  }

  .btn-main:hover {
    background-color: rgba(0, 0, 0, 0.631);
    transition: 0.5s;
  }

  .btn-main:active {
    opacity: 0.5;

  }

  .div-medias-sociais {
    display: flex;
    flex-direction: row;
    gap: 5vh;
    margin-top: 3vh;
  }

  .local-curso {
    display: block;
    margin: 0;
    padding: 0;
    height: 85vh;
  }

  .paragrafo-informacao-localizacao {
    font-size: 4vh;
    font-weight: 800;
    margin-top: 8vh;
  }

  .div-img-mapas {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }

  .class-iframe-mapa {
    width: 30vw;
    height: 15vh;
  }

  #localizacao-bangu {
    font-weight: 300;
    margin-top: 13vh;
  }

  .paragraph-contato-curicica,
  .paragraph-contato-bangu {
    font-size: 2vh;
    padding: 0 1px;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    font-size: 2vh;
    font-weight: 200;
    text-align: center;
    padding: 0 4vh;
    padding-bottom: 4vh;
  }

  .img-logo-bpc-footer {
    height: 12vh;
    margin-top: 12vh;
  }
}