* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(14px, 2vw, 18px);
}

.logo-nome-menus-links {
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    gap: 15px;
}

.logo-nome {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.nome {
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.menus {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    padding: 15px 20px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.menus:hover {
    background-color: white;
    color: #bc2c2d;
    border-radius: 20px;
}

.link {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 5px;
}

.fundo-descrição {
    padding: 15vh 5vw;
}

.fundo1 {
    color: #1e1e1e;
    font-size: 20px;
    text-align: center;
}

.fundo2 {
    color: #bc2c2d;
    font-size: 15px;
    text-align: center;
}

.descrição-formados-botao {
    background-color: #1e1e1e;
    padding: 5vh 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
    color: white;
}

.descrição {
    font-size: clamp(20px, 3vw, 40px);
    padding: 2vh 1vw;
    flex: 1 1 300px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.descrição-botao {
    margin-top: 3vh;
    border: none;
    background: linear-gradient(rgb(39, 159, 14), rgb(50, 201, 12));
    color: rgb(198, 196, 196);
    cursor: pointer;
    font-size: clamp(14px, 2vw, 20px);
    width: clamp(180px, 30vw, 320px);
    padding: 1em 2em;
    border-radius: 40px;
    font-weight: 800;
    transition: background 0.3s ease;
}

.descrição-botao:hover {
    background: linear-gradient(rgb(50, 201, 12), rgb(39, 159, 14));
}

.soldados {
    border-radius: 20px;
    width: 100%;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2vh;
    padding: 2em 1em;
    text-align: center;
    color: black;
    font-size: 1.1em;
}

.logo-2 {
    height: 50px;
}

@media(max-width: 800px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #e5e5e5;
        font-family: Arial, Helvetica, sans-serif;
        font-size: clamp(14px, 2vw, 18px);
    }

    .logo-nome-menus-links {
        background-color: #1e1e1e;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px 20px;
        gap: 15px;
    }

    .logo-nome {
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
    }

    .nome {
        text-decoration: none;
        font-size: 15px;
        color: white;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .menus {
        border: none;
        outline: none;
        background-color: transparent;
        color: white;
        padding: 15px 20px;
        transition: background-color 0.3s, color 0.3s;
        cursor: pointer;
    }

    .menus:hover {
        background-color: white;
        color: #bc2c2d;
        border-radius: 20px;
    }

    .link {
        display: flex;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;
        margin-top: 5px;
    }

    .fundo-descrição {
        padding: 15vh 5vw;
    }

    .fundo1 {
        color: #1e1e1e;
        text-align: center;
    }

    .fundo1 h1 {
        font-size: 100%;
    }

    .fundo2 {
        color: #bc2c2d;
        font-size: 15px;
        max-width: 100%;
        text-align: center;
    }

    .fundo2 h2 {

        font-size: 100%;
    }

    .descrição-formados-botao {
        background-color: #1e1e1e;
        padding: 5vh 5vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2em;
        color: white;
    }

    .descrição {
        font-size: clamp(20px, 3vw, 40px);
        padding: 2vh 1vw;
        flex: 1 1 300px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
    }

    .descrição-botao {
        margin-top: 3vh;
        border: none;
        background: linear-gradient(rgb(39, 159, 14), rgb(50, 201, 12));
        color: rgb(198, 196, 196);
        cursor: pointer;
        font-size: clamp(14px, 2vw, 20px);
        width: clamp(180px, 30vw, 320px);
        padding: 1em 2em;
        border-radius: 40px;
        font-weight: 800;
        transition: background 0.3s ease;
    }

    .descrição-botao:hover {
        background: linear-gradient(rgb(50, 201, 12), rgb(39, 159, 14));
    }

    .footer {
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 1vh;
        padding: 2em 1em;
        text-align: center;
        color: black;
        font-size: 1.1em;
    }

    .logo-2 {
        height: 50px;
    }
}