* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo-nome-menus-links {
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 13px 20px;
    gap: 20px;
}

.logo-nome {
    display: flex;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;
    flex-wrap: wrap;
}

.nome {
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.menus {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    padding: 12px 20px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.menus:hover {
    background-color: white;
    color: #bc2c2d;
    border-radius: 20px;
}

.link {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.fundo-descrição {
    padding: 60px 20px;
}

.fundo1 {
    color: #1e1e1e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}

.footer {
    background-color: #1e1e1e;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10vh;
    position: relative;
    color: white;
    padding: 20px;
    text-align: center;
}

@media (max-width: 800px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #e5e5e5;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .logo-nome-menus-links {
        background-color: #1e1e1e;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 13px 20px;
        gap: 20px;
    }

    .logo-nome {
        display: flex;
        align-items: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        gap: 10px;
        flex-wrap: wrap;
    }

    .nome {
        text-decoration: none;
        font-size: 15px;
        color: white;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .menus {
        border: none;
        outline: none;
        background-color: transparent;
        color: white;
        padding: 12px 20px;
        transition: background-color 0.3s, color 0.3s;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
    }

    .menus:hover {
        background-color: white;
        color: #bc2c2d;
        border-radius: 20px;
    }

    .link {
        display: flex;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;
    }

    .fundo-descrição {
        padding: 60% 20%;
    }

    .fundo1 {
        color: #1e1e1e;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-align: center;
        line-height: 1.5;
    }

    .footer {
        background-color: #1e1e1e;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 10vh;
        position: relative;
        color: white;
        padding: 20px;
        text-align: center;
    }
}